   @font-face {
    font-family: Junegull;
    src: url(junegull_rg.ttf);
   }
   h1 {
    font-family: Junegull, 'Junegull', cursive;
   }
#video {

text-align: center;

}
body {
        background: url(fon.png) no-repeat center center fixed;
        background-size: cover;
}