#imPage { display: -ms-grid; display: grid; -ms-grid-columns: minmax(0, 1fr) 1920px minmax(0, 1fr); grid-template-columns: minmax(0, 1fr) 1920px minmax(0, 1fr); -ms-grid-rows: 330px auto 200px; grid-template-rows: 330px auto 200px; }
#imHeader { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
#imFooter { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 3; -ms-grid-row-span: 1; grid-row: 3 / 4; }
#imSideBar { display: none; }
#imContent { display: block; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-column: 1 / 4; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
#imContentGraphics { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 2; -ms-grid-row-span: 1; grid-row: 2 / 3; }
#imContent { display: -ms-grid; display: grid; -ms-grid-columns: minmax(0, 1fr) 1920px minmax(0, 1fr); grid-template-columns: minmax(0, 1fr) 1920px minmax(0, 1fr); -ms-grid-rows: auto; grid-template-rows: auto; }
#imSearchPage { display: block; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1 / 2; }
#imHeader_imCell_3 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imHeader_imObjectTitle_03 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imHeader_imCellStyleGraphics_3 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imCellStyleBorders_3 { position: absolute; top: 0px; bottom: 0px; }
#imHeader_imObjectTitle_03 {margin: 0; text-align: center;}
#imHeader_imObjectTitle_03_text {font: normal normal normal 72pt 'Impact';  padding: 0px 11px 9px 0px; background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_03_text,
#imHeader_imObjectTitle_03_text a { color: rgba(255, 0, 0, 1); word-wrap: break-word; max-width: 100%;}
#imHeader_imObjectTitle_03_text a{ text-decoration: none; }
#imHeader_imCell_4 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imHeader_imMenuObject_04 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 103; }
#imHeader_imCellStyleGraphics_4 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imCellStyleBorders_4 { position: absolute; top: 0px; bottom: 0px; }
.label-wrapper .menu-item-icon {
max-height: 100%; position: absolute; top: 0; bottom: 0; left: 3px; margin: auto; z-index: 0; 
}
.im-menu-opened #imStickyBarContainer, .im-menu-opened #imPageToTop { visibility: hidden !important; }
#imHeader_imCell_6 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imHeader_imTextObject_06 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imHeader_imCellStyleGraphics_6 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imCellStyleBorders_6 { position: absolute; top: 0px; bottom: 0px; }
#imHeader_imTextObject_06 { width: 100%; }
#imHeader_imTextObject_06 { font-style: normal; font-weight: normal; line-height: 22px; }
#imHeader_imTextObject_06_tab0 div { line-height: 22px; }
#imHeader_imTextObject_06_tab0 .imHeading1 { line-height: 44px; }
#imHeader_imTextObject_06_tab0 .imHeading2 { line-height: 33px; }
#imHeader_imTextObject_06_tab0 .imHeading3 { line-height: 26px; }
#imHeader_imTextObject_06_tab0 .imHeading4 { line-height: 22px; }
#imHeader_imTextObject_06_tab0 .imHeading5 { line-height: 18px; }
#imHeader_imTextObject_06_tab0 .imHeading6 { line-height: 15px; }
#imHeader_imTextObject_06_tab0 ul { list-style: disc; margin: 0; padding: 0; overflow: hidden; }
#imHeader_imTextObject_06_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imHeader_imTextObject_06_tab0 ul ul ul { list-style: circle; }
#imHeader_imTextObject_06_tab0 ul li { margin: 0 0 0 22px; padding: 0px; }
#imHeader_imTextObject_06_tab0 ol { list-style: decimal; margin: 0; padding: 0; }
#imHeader_imTextObject_06_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imHeader_imTextObject_06_tab0 ol li { margin: 0 0 0 22px; padding: 0px; }
#imHeader_imTextObject_06_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imHeader_imTextObject_06_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imHeader_imTextObject_06_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imHeader_imTextObject_06_tab0 p { margin: 0; padding: 0; }
#imHeader_imTextObject_06_tab0 .inline-block { display: inline-block; }
#imHeader_imTextObject_06_tab0 sup { vertical-align: super; font-size: smaller; }
#imHeader_imTextObject_06_tab0 sub { vertical-align: sub; font-size: smaller; }
#imHeader_imTextObject_06_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imHeader_imTextObject_06_tab0 .fleft { float: left; vertical-align: baseline;}
#imHeader_imTextObject_06_tab0 .fright { float: right; vertical-align: baseline;}
#imHeader_imTextObject_06_tab0 img.fleft { margin-right: 15px; }
#imHeader_imTextObject_06_tab0 img.fright { margin-left: 15px; }
#imHeader_imTextObject_06_tab0 .imTALeft { text-align: left; }
#imHeader_imTextObject_06_tab0 .imTARight { text-align: right; }
#imHeader_imTextObject_06_tab0 .imTACenter { text-align: center; }
#imHeader_imTextObject_06_tab0 .imTAJustify { text-align: justify; }
#imHeader_imTextObject_06_tab0 .imUl { text-decoration: underline; }
#imHeader_imTextObject_06_tab0 .imStrike { text-decoration: line-through; }
#imHeader_imTextObject_06_tab0 .imUlStrike { text-decoration: underline line-through; }
#imHeader_imTextObject_06_tab0 .imVt { vertical-align: top; }
#imHeader_imTextObject_06_tab0 .imVc { vertical-align: middle; }
#imHeader_imTextObject_06_tab0 .imVb { vertical-align: bottom; }
#imHeader_imTextObject_06_tab0 hr { border-width: 1px 0 0 0; border-style: solid; }
#imHeader_imTextObject_06_tab0 .fs11lh1-5 { vertical-align: baseline; font-size: 11pt; line-height: 22px; }
#imHeader_imTextObject_06_tab0 .ff1 { font-family: 'Arial Black'; }
#imHeader_imTextObject_06_tab0 .cf1 { color: rgb(255, 255, 255); }
#imHeader_imTextObject_06_tab0 .cf2 { color: rgb(255, 192, 192); }
#imHeader_imTextObject_06_tab0 .cf3 { color: rgb(255, 239, 191); }
#imHeader_imTextObject_06_tab0 .cf4 { color: rgb(223, 255, 191); }
#imHeader_imTextObject_06_tab0 .cf5 { color: rgb(255, 0, 0); }
#imHeader_imTextObject_06_tab0 .cf6 { color: rgb(191, 255, 207); }
#imHeader_imTextObject_06_tab0 .cf7 { color: rgb(191, 207, 255); }
#imHeader_imTextObject_06_tab0 .cf8 { color: rgb(223, 191, 255); }
#imHeader_imTextObject_06_tab0 .cf9 { color: rgb(255, 191, 239); }
#imHeader_imTextObject_06_tab0 .cf10 { color: rgb(224, 224, 224); }
#imHeader_imTextObject_06_tab0 .cf11 { color: rgb(255, 128, 128); }
#imHeader_imTextObject_06_tab0 .cf12 { color: rgb(191, 255, 128); }
#imHeader_imTextObject_06_tab0 .cf13 { color: rgb(128, 255, 159); }
#imHeader_imTextObject_06_tab0 .cf14 { color: rgb(128, 255, 255); }
#imHeader_imTextObject_06_tab0 .cf15 { color: rgb(128, 159, 255); }
#imHeader_imTextObject_06_tab0 .cf16 { color: rgb(191, 128, 255); }
#imHeader_imTextObject_06_tab0 .cf17 { color: rgb(255, 128, 223); }
#imHeader_imTextObject_06_tab0 .cf18 { color: rgb(192, 192, 192); }
#imHeader_imTextObject_06_tab0 .cf19 { color: rgb(255, 191, 0); }
#imHeader_imTextObject_06_tab0 .cf20 { color: rgb(128, 255, 0); }
#imHeader_imTextObject_06_tab0 .cf21 { color: rgb(0, 255, 64); }
#imHeader_imTextObject_06_tab0 .cf22 { color: rgb(0, 255, 255); }
#imHeader_imTextObject_06_tab0 .cf23 { color: rgb(0, 64, 255); }
#imHeader_imTextObject_06_tab0 .cf24 { color: rgb(128, 0, 255); }
#imHeader_imTextObject_06_tab0 .cf25 { color: rgb(255, 0, 191); }
#imHeader_imTextObject_06_tab0 .cf26 { color: rgb(128, 128, 128); }
#imHeader_imTextObject_06_tab0 .cf27 { color: rgb(192, 0, 0); }
#imHeader_imTextObject_06_tab0 .cf28 { color: rgb(191, 143, 0); }
#imHeader_imTextObject_06_tab0 .cf29 { color: rgb(96, 191, 0); }
#imHeader_imTextObject_06_tab0 .cf30 { color: rgb(0, 191, 48); }
#imHeader_imTextObject_06_tab0 .cf31 { color: rgb(0, 191, 191); }
#imHeader_imTextObject_06_tab0 .cf32 { color: rgb(0, 48, 191); }
#imHeader_imTextObject_06_tab0 .cf33 { color: rgb(96, 0, 191); }
#imHeader_imTextObject_06_tab0 .cf34 { color: rgb(191, 0, 143); }
#imHeader_imTextObject_06_tab0 .cf35 { color: rgb(64, 64, 64); }
#imHeader_imTextObject_06_tab0 .cf36 { color: rgb(128, 0, 0); }
#imHeader_imTextObject_06_tab0 .cf37 { color: rgb(128, 96, 0); }
#imHeader_imTextObject_06_tab0 .cf38 { color: rgb(64, 128, 0); }
#imHeader_imTextObject_06_tab0 .cf39 { color: rgb(0, 128, 32); }
#imHeader_imTextObject_06_tab0 .cf40 { color: rgb(0, 128, 128); }
#imHeader_imTextObject_06_tab0 .cf41 { color: rgb(0, 32, 128); }
#imHeader_imTextObject_06_tab0 .cf42 { color: rgb(64, 0, 128); }
#imHeader_imTextObject_06_tab0 .cf43 { color: rgb(128, 0, 96); }
#imHeader_imTextObject_06_tab0 .cf44 { color: rgb(64, 0, 0); }
#imHeader_imTextObject_06_tab0 .cf45 { color: rgb(64, 48, 0); }
#imHeader_imTextObject_06_tab0 .cf46 { color: rgb(32, 64, 0); }
#imHeader_imTextObject_06_tab0 .cf47 { color: rgb(0, 64, 16); }
#imHeader_imTextObject_06_tab0 .cf48 { color: rgb(0, 64, 64); }
#imHeader_imTextObject_06_tab0 .cf49 { color: rgb(32, 0, 64); }
#imHeader_imTextObject_06_tab0 .cf50 { color: rgb(64, 0, 48); }
#imHeader_imTextObject_06 .text-container {border-width: 0 1px 1px 1px;box-sizing: border-box;width: 100%;}
#imHeader_imTextObject_06 .text-container {margin: 0 auto; position: relative;overflow: hidden; display: -ms-grid; display: grid; -ms-grid-template-rows: 1fr; grid-template-rows: 1fr; -ms-grid-template-columns: 1fr; grid-template-columns: 1fr; background-color: rgba(255, 255, 255, 1); border-style: solid;border-color: rgba(169, 169, 169, 1); }
#imHeader_imTextObject_06 .text-container .grid-prop.current-tab {z-index: 1; opacity: 1;  }
#imHeader_imTextObject_06 .text-container .grid-prop {-ms-grid-column: 1; -ms-grid-row: 1; grid-area: 1 / 1 / 2 / 2; opacity: 0; box-sizing: border-box; position: relative;  }
#imHeader_imTextObject_06 .text-container .text-tab-content.detach {position: absolute; top: 0; left: 0; width: 100%; display: none; }
#imHeader_imCell_8 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imHeader_imObjectVideo_08 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imHeader_imCellStyleGraphics_8 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imCellStyleBorders_8 { position: absolute; top: 0px; bottom: 0px; }
#imHeader_imObjectVideo_08 { max-width: 100%; width: 320px; }
#imHeader_imCell_9 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imHeader_imTextObject_09 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imHeader_imCellStyleGraphics_9 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imCellStyleBorders_9 { position: absolute; top: 0px; bottom: 0px; }
#imHeader_imTextObject_09 { width: 100%; }
#imHeader_imTextObject_09 { font-style: normal; font-weight: normal; line-height: 22px; }
#imHeader_imTextObject_09_tab0 div { line-height: 22px; }
#imHeader_imTextObject_09_tab0 .imHeading1 { line-height: 44px; }
#imHeader_imTextObject_09_tab0 .imHeading2 { line-height: 33px; }
#imHeader_imTextObject_09_tab0 .imHeading3 { line-height: 26px; }
#imHeader_imTextObject_09_tab0 .imHeading4 { line-height: 22px; }
#imHeader_imTextObject_09_tab0 .imHeading5 { line-height: 18px; }
#imHeader_imTextObject_09_tab0 .imHeading6 { line-height: 15px; }
#imHeader_imTextObject_09_tab0 ul { list-style: disc; margin: 0; padding: 0; overflow: hidden; }
#imHeader_imTextObject_09_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imHeader_imTextObject_09_tab0 ul ul ul { list-style: circle; }
#imHeader_imTextObject_09_tab0 ul li { margin: 0 0 0 22px; padding: 0px; }
#imHeader_imTextObject_09_tab0 ol { list-style: decimal; margin: 0; padding: 0; }
#imHeader_imTextObject_09_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imHeader_imTextObject_09_tab0 ol li { margin: 0 0 0 22px; padding: 0px; }
#imHeader_imTextObject_09_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imHeader_imTextObject_09_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imHeader_imTextObject_09_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imHeader_imTextObject_09_tab0 p { margin: 0; padding: 0; }
#imHeader_imTextObject_09_tab0 .inline-block { display: inline-block; }
#imHeader_imTextObject_09_tab0 sup { vertical-align: super; font-size: smaller; }
#imHeader_imTextObject_09_tab0 sub { vertical-align: sub; font-size: smaller; }
#imHeader_imTextObject_09_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imHeader_imTextObject_09_tab0 .fleft { float: left; vertical-align: baseline;}
#imHeader_imTextObject_09_tab0 .fright { float: right; vertical-align: baseline;}
#imHeader_imTextObject_09_tab0 img.fleft { margin-right: 15px; }
#imHeader_imTextObject_09_tab0 img.fright { margin-left: 15px; }
#imHeader_imTextObject_09_tab0 .imTALeft { text-align: left; }
#imHeader_imTextObject_09_tab0 .imTARight { text-align: right; }
#imHeader_imTextObject_09_tab0 .imTACenter { text-align: center; }
#imHeader_imTextObject_09_tab0 .imTAJustify { text-align: justify; }
#imHeader_imTextObject_09_tab0 .imUl { text-decoration: underline; }
#imHeader_imTextObject_09_tab0 .imStrike { text-decoration: line-through; }
#imHeader_imTextObject_09_tab0 .imUlStrike { text-decoration: underline line-through; }
#imHeader_imTextObject_09_tab0 .imVt { vertical-align: top; }
#imHeader_imTextObject_09_tab0 .imVc { vertical-align: middle; }
#imHeader_imTextObject_09_tab0 .imVb { vertical-align: bottom; }
#imHeader_imTextObject_09_tab0 hr { border-width: 1px 0 0 0; border-style: solid; }
#imHeader_imTextObject_09 .text-container {border-width: 0 1px 1px 1px;box-sizing: border-box;width: 100%;}
#imHeader_imTextObject_09 .text-container {margin: 0 auto; position: relative;overflow: hidden; display: -ms-grid; display: grid; -ms-grid-template-rows: 1fr; grid-template-rows: 1fr; -ms-grid-template-columns: 1fr; grid-template-columns: 1fr; background-color: rgba(255, 255, 255, 1); border-style: solid;border-color: rgba(169, 169, 169, 1); }
#imHeader_imTextObject_09 .text-container .grid-prop.current-tab {z-index: 1; opacity: 1;  }
#imHeader_imTextObject_09 .text-container .grid-prop {-ms-grid-column: 1; -ms-grid-row: 1; grid-area: 1 / 1 / 2 / 2; opacity: 0; box-sizing: border-box; position: relative;  }
#imHeader_imTextObject_09 .text-container .text-tab-content.detach {position: absolute; top: 0; left: 0; width: 100%; display: none; }
#imHeader_imCell_11 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imHeader_imObjectImage_11 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imHeader_imCellStyleGraphics_11 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imCellStyleBorders_11 { position: absolute; top: 0px; bottom: 0px; }
#imHeader_imObjectImage_11 { vertical-align: top; font-size: 0; margin: 0 auto; }
#imHeader_imObjectImage_11 #imHeader_imObjectImage_11_container img { width: 100%; vertical-align: top; }#imFooter_imCell_1 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imFooter_imObjectTitle_01 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imFooter_imCellStyleGraphics_1 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imFooter_imCellStyleBorders_1 { position: absolute; top: 0px; bottom: 0px; }
#imFooter_imObjectTitle_01 {margin: 0; text-align: center;}
#imFooter_imObjectTitle_01_text {font: normal normal normal 36pt 'Comic Sans MS';  padding: 7px 9px 0px 0px; background-color: transparent; position: relative; display: inline-block; }
#imFooter_imObjectTitle_01_text,
#imFooter_imObjectTitle_01_text a { color: rgba(128, 159, 255, 1); word-wrap: break-word; max-width: 100%;}
#imFooter_imObjectTitle_01_text a{ text-decoration: none; }
#imFooter_imObjectTitle_01_text {-ms-transform:     rotateX(-20deg) rotateY(20deg);-webkit-transform: rotateX(-20deg) rotateY(20deg);transform:         rotateX(-20deg) rotateY(20deg);}
#imSideBar_imCell_1 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imSideBar_imObjectImage_01 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imSideBar_imCellStyleGraphics_1 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imSideBar_imCellStyleBorders_1 { position: absolute; top: 0px; bottom: 0px; }
#imSideBar_imObjectImage_01 { vertical-align: top; margin: 0 auto; }
#imSideBar_imObjectImage_01 #imSideBar_imObjectImage_01_container img { width: 100%; vertical-align: top; }#imStickyBar_imCell_2 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imStickyBar_imObjectTitle_02 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 3; }
#imStickyBar_imCellStyleGraphics_2 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imStickyBar_imCellStyleBorders_2 { position: absolute; top: 0px; bottom: 0px; }
#imStickyBar_imObjectTitle_02 {margin: 0; text-align: center;}
#imStickyBar_imObjectTitle_02_text {font: normal normal normal 40pt 'Impact';  padding: 4px 0px 0px 6px; background-color: transparent; position: relative; display: inline-block; }
#imStickyBar_imObjectTitle_02_text,
#imStickyBar_imObjectTitle_02_text a { color: rgba(255, 0, 0, 1); word-wrap: break-word; max-width: 100%;}
#imStickyBar_imObjectTitle_02_text a{ text-decoration: none; }
#imStickyBar_imCell_3 { -ms-grid-columns: 100%; grid-template-columns: 100%; position: relative; box-sizing: border-box; }
#imStickyBar_imMenuObject_03 { position: relative; -ms-grid-row-align: start; align-self: start; -ms-grid-column-align: center; justify-self: center; max-width: 100%; box-sizing: border-box; z-index: 103; }
#imStickyBar_imCellStyleGraphics_3 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imStickyBar_imCellStyleBorders_3 { position: absolute; top: 0px; bottom: 0px; }
.label-wrapper .menu-item-icon {
max-height: 100%; position: absolute; top: 0; bottom: 0; left: 3px; margin: auto; z-index: 0; 
}
.im-menu-opened #imStickyBarContainer, .im-menu-opened #imPageToTop { visibility: hidden !important; }

/* CONTAINER AND TITLE */
#imSearchPage { overflow: auto; }
#imPgTitle.searchPageTitle { margin-left: 5px; margin-right: 5px; }

/* SIDE MENU  */

@media (min-width: 1920px) {
	#imSearchContent { width: 1612px; padding: 20px 0; float: right; }
	#imSearchSideBar { width: 268px; padding: 20px 0; float: left; }
	#imSearchSideBar li { display: block; width: 100%; }
	
}
@media (max-width: 1919px)  {
	#imSearchContent { width: 100%; padding: 20px 0; }
	#imSearchSideBar { width: 100%; text-align: center; }
	#imSearchSideBar li { display: inline-block; width: auto; margin-right: 5px; }
	
}
.imSLabel { padding: 10px 0; }
#imSearchSideBar li { margin-bottom: 0px; background-color: transparent; border-bottom: 1px solid rgba(0, 0, 0, 1); }
#imSearchSideBar .imPgMnFirst { border: none; }

/* Normal font style */
#imSearchSideBar .imScMnTxt { display: block; padding: 6px 0px; text-decoration: none; font: normal normal 11pt 'Tahoma'; color: rgba(0, 0, 0, 1);}

/* Current or hover font style */
#imSearchSideBar li:hover { text-decoration: underline; cursor: pointer; }
.imScMnTxt a { display: block; width: 100%; }

/* Section font style */
#imSearchSideBar .imPgMnSeparator a, #imSearchSideBar .imPgMnSeparator .imScMnTxt, #imSearchSideBar .imPgMnSeparator:hover a, #imSearchSideBar .imPgMnSeparator .imScMnTxt { cursor: auto; background-color: transparent; text-decoration: none; color: rgba(0, 0, 0, 1); }
#imSearchSideBar li:hover.imPgMnSeparator { cursor: auto; background-color: transparent; }
#imSearchSideBar ul a, #imSearchSideBar ul a:hover, #imSearchSideBar ul a:visited { font: inherit; color: inherit; text-align: inherit; text-decoration: none; }

/* SEARCH FIELDS */
.imPageSearchField { text-align: center; }
.imPageSearchField .search_field { border: 1px solid black; background-color: white; font: inherit; }

/* RESULTS */
.imSearchLink { margin-top: 5px; }
.imSearchPageResult, .imSearchBlogResult { margin: 0 0 20px 0; }
.imSearchProductResult { margin: 0 0 30px 0; }
#imSearchResults .imSearchCount { text-decoration: none; font-weight: normal; }
#imSearchResults h3 { color: inherit; margin-bottom: 5px; font-size: 1.2em; text-decoration: underline; font-weight: normal; }
#imSearchResults h3 a, #imSearchResults h3 a:hover, #imSearchResults h3 a:visited { color: inherit; }
#imSearchResults .imProductImage { display: inline-block; width: 20%; text-align: center; vertical-align: top; }
#imSearchResults .imProductImage img { max-width: 100%; }
#imSearchResults .imProductTitle img { margin-left: 10px; }
#imSearchResults .imProductTitle { margin-bottom: 10px; }
#imSearchResults .imProductDescription { display: inline-block; width: 80%; }
#imSearchResults .imProductDescription > * { padding-right: 10px; padding-left: 10px; }
.imSearchImageResultContent {float: left; width: 50%;}
.imSearchImageResult {clear: none; float: left; width: 50% }
.imSearchImageResult img { border-width: 0; width: 94%; padding-left: 3%; padding-right: 3%; float: left; }
.imSearchVideoResultContent {float: left; width: 50%;}
.imSearchVideoResult {clear: none; float: left; width: 50% }
.imSearchVideoResult img { border-width: 0; width: 94%; padding-left: 3%; padding-right: 3%; float: left; }
.imSearchVideoDuration { margin-top: 5px; clear: both; display: block; text-decoration: none; color: gray; font-weight: normal; }
#imSearchPage { box-sizing: border-box; margin-left: auto; margin-right: auto; padding: 0 0px 0 0px; }

#imHeader_imObjectTitle_03_wrapper { position: absolute; top: 9px; left: 3px; width: 580px; height: 116px; text-align: center; z-index: 1002;  }
#imHeader_imCell_3 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCell_3 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imHeader_imObjectTitle_03 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyleGraphics_3 { left: 0px; right: 0px; }
#imHeader_imCellStyleBorders_3 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imObjectTitle_03{ text-shadow: 8px 6px 3px rgba(128, 128, 128, 1)}#imHeader_imObjectTitle_03 { width: 100%; }
#imHeader_imObjectTitle_03_text { margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
 }
#imHeader_imMenuObject_04_wrapper { position: absolute; top: 27px; left: 590px; width: 282px; height: 100px; text-align: center; z-index: 1003;  }
#imHeader_imCell_4 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCell_4 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imHeader_imMenuObject_04 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyleGraphics_4 { left: 0px; right: 0px; }
#imHeader_imCellStyleBorders_4 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
/* Main menu background */
#imHeader_imMenuObject_04_container { border-style: solid; border-width: 0px 0px 0px 0px; border-color: transparent transparent transparent transparent; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; width: 100%; box-sizing: border-box; background-color: transparent; padding: 0px 0px 0px 0px; display: inline-table;}
#imHeader_imMenuObject_04_container > ul:after {content: '';display: table;clear: both; }
/* Main menu button size and position */
#imHeader_imMenuObject_04_container > ul > li {position: relative;margin-left: 2px; margin-top: 0px; display: inline-block; vertical-align: top; }
#imHeader_imMenuObject_04_container > ul > li > .label-wrapper, #imHeader_imMenuObject_04_container > ul > li > div > .label-wrapper { display: block; overflow: hidden; width: 130px; height: 38px; padding: 0 5px 0 5px; border-width: 0px 0px 0px 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
#imHeader_imMenuObject_04 .hamburger-button {cursor: pointer; width: 38px; height: 38px; display: inline-block; vertical-align: top; padding: 0; border-width: 0px 0px 0px 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
#imHeader_imMenuObject_04 .hamburger-bar { margin: 4px auto; width: 65%; height: 4px; background-color: rgba(255, 255, 255, 1); }
#imHeader_imMenuObject_04 .label-inner-wrapper, #imHeader_imMenuObject_04 .hamburger-button > div { display: table; width: 100%; height: 100%; position: relative; z-index: 1; } #imHeader_imMenuObject_04_container > ul > li .label, #imHeader_imMenuObject_04 .hamburger-button > div > div { display: table-cell; vertical-align: middle; }
/* Main menu default button style */
#imHeader_imMenuObject_04_container > ul > li > .label-wrapper {background-color: transparent;background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04_container > ul > li > .label-wrapper .label {width: 100%;height: 100%;font-family: Impact;font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(37, 58, 88, 1);font-weight: normal;}
/* Hamburger button style */
#imHeader_imMenuObject_04 .hamburger-button {background-color: rgba(255, 255, 255, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04 .hamburger-button .label {width: 100%;height: 100%;font-family: Tahoma;font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 255, 255, 1);font-weight: normal;}
/* Main menu current button style */
#imHeader_imMenuObject_04_container > ul > .imMnMnCurrent > .label-wrapper {background-color: rgba(0, 0, 0, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04_container > ul > .imMnMnCurrent > .label-wrapper .label {width: 100%;height: 100%;font-family: Impact;font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 255, 255, 1);font-weight: normal;}
/* Main menu hover button style */
#imHeader_imMenuObject_04_container > ul > li.imPage:hover > .label-wrapper {background-color: rgba(0, 0, 0, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04_container > ul > li.imPage:hover > .label-wrapper .label {width: 100%;height: 100%;font-family: Impact;font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 191, 0, 1);font-weight: normal;}
#imHeader_imMenuObject_04_container > ul > li.imLevel:hover > .label-wrapper {background-color: rgba(0, 0, 0, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04_container > ul > li.imLevel:hover > .label-wrapper .label {width: 100%;height: 100%;font-family: Impact;font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 191, 0, 1);font-weight: normal;}
/* Main menu separator button style */
#imHeader_imMenuObject_04_container > ul > .imMnMnSeparator > .label-wrapper {background-color: transparent;background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04_container > ul > .imMnMnSeparator > .label-wrapper .label {width: 100%;height: 100%;font-family: Impact;font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(37, 58, 88, 1);font-weight: normal;}
#imHeader_imMenuObject_04 .imLevel { cursor: default; }
#imHeader_imMenuObject_04 { text-align: left;}
/* Level menu background */
#imHeader_imMenuObject_04 ul ul { border-style: solid; border-width: 0px 0px 0px 0px; border-color: transparent transparent transparent transparent; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;  background-color: transparent; }
/* Level menu button size and position */
#imHeader_imMenuObject_04 ul ul li {position: relative;margin-bottom: 0px; display: inline-block; vertical-align: top; }
/* Multiple column menu buttons position */
#imHeader_imMenuObject_04 .multiple-column > ul {max-width: 170px;}
#imHeader_imMenuObject_04 ul ul li:last-child {margin-bottom: 0;}
#imHeader_imMenuObject_04 ul ul .label-wrapper { display: block; overflow: hidden; width: 154px; height: 34px; padding: 0 8px 0 8px; }
#imHeader_imMenuObject_04 ul ul .label { display: table-cell; vertical-align: middle; }
/* Level menu default button style */
#imHeader_imMenuObject_04 ul ul .label-wrapper {background-color: rgba(255, 255, 255, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04 ul ul .label-wrapper .label {width: 100%;height: 100%;font-family: Tahoma;font-size: 10pt;font-style: normal;text-decoration: none;text-align: left; color: rgba(37, 58, 88, 1);font-weight: normal;}
/* Level menu hover button style */
#imHeader_imMenuObject_04 ul ul li.imLevel:hover > .label-wrapper {background-color: rgba(176, 209, 255, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04 ul ul li.imLevel:hover > .label-wrapper .label {width: 100%;height: 100%;font-family: Tahoma;font-size: 9pt;font-style: normal;text-decoration: none;text-align: left; color: rgba(37, 58, 88, 1);font-weight: normal;}
#imHeader_imMenuObject_04 ul ul li.imPage:hover > .label-wrapper {background-color: rgba(176, 209, 255, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04 ul ul li.imPage:hover > .label-wrapper .label {width: 100%;height: 100%;font-family: Tahoma;font-size: 9pt;font-style: normal;text-decoration: none;text-align: left; color: rgba(37, 58, 88, 1);font-weight: normal;}
/* Level menu separator button style */
#imHeader_imMenuObject_04 ul ul .imMnMnSeparator > .label-wrapper {background-color: rgba(211, 211, 211, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04 ul ul .imMnMnSeparator > .label-wrapper .label {width: 100%;height: 100%;font-family: Tahoma;font-size: 9pt;font-style: normal;text-decoration: none;text-align: left; color: rgba(169, 169, 169, 1);font-weight: bold;}
/* Level menu separation line style */
/* Level menu current button style */
#imHeader_imMenuObject_04 .imMnMnCurrent > ul > .imMnMnCurrent > .label-wrapper {background-color: rgba(176, 209, 255, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imHeader_imMenuObject_04 .imMnMnCurrent > ul > .imMnMnCurrent > .label-wrapper .label {width: 100%;height: 100%;font-family: Tahoma;font-size: 9pt;font-style: normal;text-decoration: none;text-align: left; color: rgba(37, 58, 88, 1);font-weight: normal;}
#imHeader_imMenuObject_04 ul ul { z-index: 2; }/* Level menu show/hide directives */
#imHeader_imMenuObject_04 .multiple-column {position: absolute; z-index: 2;left: 0;}
#imHeader_imMenuObject_04 .multiple-column > ul {position: static;
display: inline-block;vertical-align: top;}
#imHeader_imMenuObject_04 .multiple-column > ul > li {display: block;}
#imHeader_imMenuObject_04_container > ul > li > ul {position: absolute;
top: 38px;
}
#imHeader_imMenuObject_04_container > ul > li > ul.open-bottom { left: 0; }
#imHeader_imMenuObject_04_container > ul > li > ul.open-left { right: 140px; }
#imHeader_imMenuObject_04_container > ul > li > ul.open-right { left: 140px; }
#imHeader_imMenuObject_04_container > ul > li > ul ul, #imHeader_imMenuObject_04_container .multiple-column > ul > li ul {position: absolute;
top: 0;
}
#imHeader_imMenuObject_04_container  > ul > li > ul ul.open-left, #imHeader_imMenuObject_04_container .multiple-column > ul > li ul.open-left{ right: 170px; }
#imHeader_imMenuObject_04_container  > ul > li > ul ul.open-right, #imHeader_imMenuObject_04_container .multiple-column > ul > li ul.open-right{ left: 170px; }
#imHeader_imMenuObject_04 ul > li > ul, #imHeader_imMenuObject_04 .multiple-column { display: none; }
#imHeader_imMenuObject_04_container > ul > li:nth-child(2n+1) {
margin-left: 0;
clear: left;
}
#imHeader_imMenuObject_04_container > ul > li:nth-child(n+3) {
margin-top: 2px; 
}
#imHeader_imMenuObject_04-menu-opened { display: none; }
#imHeader_imMenuObject_04 .hamburger-component { display: none; }
#imHeader_imTextObject_06_wrapper { position: absolute; top: 134px; left: 26px; width: 377px; height: 128px; text-align: center; z-index: 1004; overflow: hidden; }
#imHeader_imCell_6 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCell_6 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imHeader_imTextObject_06 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyleGraphics_6 { left: 0px; right: 0px; }
#imHeader_imCellStyleBorders_6 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imObjectVideo_08_wrapper { position: absolute; top: 137px; left: 415px; width: 319px; height: 67px; text-align: center; z-index: 1005; overflow: hidden; }
#imHeader_imCell_8 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCell_8 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imHeader_imObjectVideo_08 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyleGraphics_8 { left: 0px; right: 0px; }
#imHeader_imCellStyleBorders_8 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imTextObject_09_wrapper { position: absolute; top: 133px; left: 743px; width: 289px; height: 60px; text-align: center; z-index: 1006; overflow: hidden; }
#imHeader_imCell_9 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCell_9 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imHeader_imTextObject_09 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyleGraphics_9 { left: 0px; right: 0px; }
#imHeader_imCellStyleBorders_9 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imObjectImage_11_wrapper { position: absolute; top: 134px; left: 217px; width: 60px; height: 67px; text-align: center; z-index: 1007; overflow: hidden; }
#imHeader_imObjectImage_11_wrapper img {-webkit-clip-path: inset(0 0 -11.667% 0);clip-path: inset(0 0 -11.667% 0);}#imHeader_imCell_11 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCell_11 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imHeader_imObjectImage_11 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyleGraphics_11 { left: 0px; right: 0px; }
#imHeader_imCellStyleBorders_11 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }

#imFooter_imObjectTitle_01_wrapper { position: absolute; top: 4px; left: 376px; width: 591px; height: 145px; text-align: center; z-index: 1002;  }
#imFooter_imCell_1 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imFooter_imCell_1 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imFooter_imObjectTitle_01 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imFooter_imCellStyleGraphics_1 { left: 0px; right: 0px; }
#imFooter_imCellStyleBorders_1 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imFooter_imObjectTitle_01{ text-shadow: 6px -4px 3px rgba(128, 128, 128, 1)}#imFooter_imObjectTitle_01 { width: 100%; }
#imFooter_imObjectTitle_01_text { margin-left: -17.82px;
margin-right: -17.82px;
margin-top: 30.32px;
margin-bottom: 30.32px;
 }

#imSideBar_imObjectImage_01_wrapper { position: absolute; top: 120px; left: 30px; width: 144px; height: 144px; text-align: center; z-index: 1002; overflow: hidden; }
#imSideBar_imObjectImage_01_wrapper img {-webkit-clip-path: inset(0 0 0% 0);clip-path: inset(0 0 0% 0);}#imSideBar_imCell_1 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imSideBar_imCell_1 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imSideBar_imObjectImage_01 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imSideBar_imCellStyleGraphics_1 { left: 0px; right: 0px; }
#imSideBar_imCellStyleBorders_1 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }

#imStickyBar_imObjectTitle_02_wrapper { position: absolute; top: 0px; left: 0px; width: 340px; height: 60px; text-align: center; z-index: 1002;  }
#imStickyBar_imCell_2 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imStickyBar_imCell_2 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imStickyBar_imObjectTitle_02 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imStickyBar_imCellStyleGraphics_2 { left: 0px; right: 0px; }
#imStickyBar_imCellStyleBorders_2 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imStickyBar_imObjectTitle_02{ text-shadow: 0px 0px 0px rgba(128, 128, 128, 1), -1px -1px 0px rgba(126, 126, 126, 1), -2px -1px 0px rgba(124, 124, 124, 1), -3px -2px 0px rgba(122, 122, 122, 1), -4px -3px 0px rgba(120, 120, 120, 1), -5px -3px 0px rgba(118, 118, 118, 1) ;}#imStickyBar_imObjectTitle_02 { width: 100%; }
#imStickyBar_imObjectTitle_02_text { margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
 }
#imStickyBar_imMenuObject_03_wrapper { position: absolute; top: 10px; left: 420px; width: 564px; height: 44px; text-align: center; z-index: 1003;  }
#imStickyBar_imCell_3 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imStickyBar_imCell_3 { -ms-grid-rows: 100%; grid-template-rows: 100%; }
#imStickyBar_imMenuObject_03 { padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imStickyBar_imCellStyleGraphics_3 { left: 0px; right: 0px; }
#imStickyBar_imCellStyleBorders_3 { left: 0px; right: 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
/* Main menu background */
#imStickyBar_imMenuObject_03_container { border-style: solid; border-width: 2px 2px 2px 2px; border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 1) rgba(255, 255, 255, 1) rgba(255, 255, 255, 1); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; width: 100%; box-sizing: border-box; background-color: rgba(255, 255, 255, 1); padding: 0px 0px 0px 0px; display: inline-table;}
#imStickyBar_imMenuObject_03_container > ul:after {content: '';display: table;clear: both; }
/* Main menu button size and position */
#imStickyBar_imMenuObject_03_container > ul > li {position: relative;margin-left: 0px; margin-top: 0px; display: inline-block; vertical-align: top; }
#imStickyBar_imMenuObject_03_container > ul > li > .label-wrapper, #imStickyBar_imMenuObject_03_container > ul > li > div > .label-wrapper { display: block; overflow: hidden; width: 137px; height: 34px; padding: 0 0px 0 0px; border-width: 0px 0px 0px 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
#imStickyBar_imMenuObject_03 .hamburger-button {cursor: pointer; width: 34px; height: 34px; display: inline-block; vertical-align: top; padding: 0; border-width: 0px 0px 0px 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
#imStickyBar_imMenuObject_03 .hamburger-bar { margin: 3px auto; width: 65%; height: 3px; background-color: rgba(255, 0, 0, 1); }
#imStickyBar_imMenuObject_03 .label-inner-wrapper, #imStickyBar_imMenuObject_03 .hamburger-button > div { display: table; width: 100%; height: 100%; position: relative; z-index: 1; } #imStickyBar_imMenuObject_03_container > ul > li .label, #imStickyBar_imMenuObject_03 .hamburger-button > div > div { display: table-cell; vertical-align: middle; }
/* Main menu default button style */
#imStickyBar_imMenuObject_03_container > ul > li > .label-wrapper {background-color: transparent;background-image: none;border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 1) rgba(255, 255, 255, 1) rgba(255, 255, 255, 1);border-style: solid; }
#imStickyBar_imMenuObject_03_container > ul > li > .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 0, 0, 1);font-weight: normal;}
/* Hamburger button style */
#imStickyBar_imMenuObject_03 .hamburger-button {background-color: transparent;background-image: none;border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 1) rgba(255, 255, 255, 1) rgba(255, 255, 255, 1);border-style: solid; }
#imStickyBar_imMenuObject_03 .hamburger-button .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 0, 0, 1);font-weight: normal;}
/* Main menu current button style */
#imStickyBar_imMenuObject_03_container > ul > .imMnMnCurrent > .label-wrapper {background-color: rgba(54, 71, 79, 1);background-image: none;border-color: transparent transparent transparent transparent;border-style: solid; }
#imStickyBar_imMenuObject_03_container > ul > .imMnMnCurrent > .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 255, 255, 1);font-weight: bold;}
/* Main menu hover button style */
#imStickyBar_imMenuObject_03_container > ul > li.imPage:hover > .label-wrapper {background-color: rgba(54, 71, 79, 1);background-image: none;border-color: transparent transparent transparent transparent;border-style: solid; }
#imStickyBar_imMenuObject_03_container > ul > li.imPage:hover > .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 255, 255, 1);font-weight: bold;}
#imStickyBar_imMenuObject_03_container > ul > li.imLevel:hover > .label-wrapper {background-color: rgba(54, 71, 79, 1);background-image: none;border-color: transparent transparent transparent transparent;border-style: solid; }
#imStickyBar_imMenuObject_03_container > ul > li.imLevel:hover > .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 255, 255, 1);font-weight: bold;}
/* Main menu separator button style */
#imStickyBar_imMenuObject_03_container > ul > .imMnMnSeparator > .label-wrapper {background-color: transparent;background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imStickyBar_imMenuObject_03_container > ul > .imMnMnSeparator > .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 11pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(54, 71, 79, 1);font-weight: normal;}
#imStickyBar_imMenuObject_03 .imLevel { cursor: default; }
#imStickyBar_imMenuObject_03 { text-align: left;}
/* Level menu background */
#imStickyBar_imMenuObject_03 ul ul { border-style: solid; border-width: 0px 0px 0px 0px; border-color: transparent transparent transparent transparent; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;  background-color: transparent; }
/* Level menu button size and position */
#imStickyBar_imMenuObject_03 ul ul li {position: relative;margin-bottom: 0px; display: inline-block; vertical-align: top; }
/* Multiple column menu buttons position */
#imStickyBar_imMenuObject_03 .multiple-column > ul {max-width: 160px;}
#imStickyBar_imMenuObject_03 ul ul li:last-child {margin-bottom: 0;}
#imStickyBar_imMenuObject_03 ul ul .label-wrapper { display: block; overflow: hidden; width: 144px; height: 78px; padding: 0 8px 0 8px; }
#imStickyBar_imMenuObject_03 ul ul .label { display: table-cell; vertical-align: middle; }
/* Level menu default button style */
#imStickyBar_imMenuObject_03 ul ul .label-wrapper {background-color: rgba(255, 255, 255, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imStickyBar_imMenuObject_03 ul ul .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 10pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(55, 71, 79, 1);font-weight: normal;}
/* Level menu hover button style */
#imStickyBar_imMenuObject_03 ul ul li.imLevel:hover > .label-wrapper {background-color: rgba(83, 175, 215, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imStickyBar_imMenuObject_03 ul ul li.imLevel:hover > .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 10pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 255, 255, 1);font-weight: bold;}
#imStickyBar_imMenuObject_03 ul ul li.imPage:hover > .label-wrapper {background-color: rgba(83, 175, 215, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imStickyBar_imMenuObject_03 ul ul li.imPage:hover > .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 10pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 255, 255, 1);font-weight: bold;}
/* Level menu separator button style */
#imStickyBar_imMenuObject_03 ul ul .imMnMnSeparator > .label-wrapper {background-color: rgba(255, 255, 255, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imStickyBar_imMenuObject_03 ul ul .imMnMnSeparator > .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 10pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(61, 113, 177, 1);font-weight: bold;}
/* Level menu separation line style */
/* Level menu current button style */
#imStickyBar_imMenuObject_03 .imMnMnCurrent > ul > .imMnMnCurrent > .label-wrapper {background-color: rgba(83, 175, 215, 1);background-image: none;border-color: rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1) rgba(211, 211, 211, 1);border-style: solid; }
#imStickyBar_imMenuObject_03 .imMnMnCurrent > ul > .imMnMnCurrent > .label-wrapper .label {width: 100%;height: 100%;font-family: 'Arial Black';font-size: 10pt;font-style: normal;text-decoration: none;text-align: center; color: rgba(255, 255, 255, 1);font-weight: bold;}
#imStickyBar_imMenuObject_03 ul ul { z-index: 2; }/* Level menu show/hide directives */
#imStickyBar_imMenuObject_03 .multiple-column {position: absolute; z-index: 2;left: 0;}
#imStickyBar_imMenuObject_03 .multiple-column > ul {position: static;
display: inline-block;vertical-align: top;}
#imStickyBar_imMenuObject_03 .multiple-column > ul > li {display: block;}
#imStickyBar_imMenuObject_03_container > ul > li > ul {position: absolute;
top: 34px;
}
#imStickyBar_imMenuObject_03_container > ul > li > ul.open-bottom { left: 0; }
#imStickyBar_imMenuObject_03_container > ul > li > ul.open-left { right: 137px; }
#imStickyBar_imMenuObject_03_container > ul > li > ul.open-right { left: 137px; }
#imStickyBar_imMenuObject_03_container > ul > li > ul ul, #imStickyBar_imMenuObject_03_container .multiple-column > ul > li ul {position: absolute;
top: 0;
}
#imStickyBar_imMenuObject_03_container  > ul > li > ul ul.open-left, #imStickyBar_imMenuObject_03_container .multiple-column > ul > li ul.open-left{ right: 160px; }
#imStickyBar_imMenuObject_03_container  > ul > li > ul ul.open-right, #imStickyBar_imMenuObject_03_container .multiple-column > ul > li ul.open-right{ left: 160px; }
#imStickyBar_imMenuObject_03 ul > li > ul, .multiple-column { display: none; }
#imStickyBar_imMenuObject_03_container > ul > li:nth-child(4n+1) {
margin-left: 0;
clear: left;
}
#imStickyBar_imMenuObject_03_container > ul > li:nth-child(n+5) {
margin-top: 0px; 
}
#imStickyBar_imMenuObject_03-menu-opened { display: none; }
#imStickyBar_imMenuObject_03 .hamburger-component { display: none; }

#imPage.without-id_animation-in-progress { overflow: hidden }
